<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AccountMapper">

    <sql id="aa"> account </sql>

    <!-- 缓存配置  -->
    <cache
            eviction="FIFO"
            flushInterval="60000"
            size="512"
            readOnly="true"/>

    <!--

    可用的收回策略有:

    LRU – 最近最少使用的:移除最长时间不被使用的对象（默认的）。
    FIFO – 先进先出:按对象进入缓存的顺序来移除它们。
    SOFT – 软引用:移除基于垃圾回收器状态和软引用规则的对象。
    WEAK – 弱引用:更积极地移除基于垃圾收集器状态和弱引用规则的对象。

    缓存默认配置

    <select ... flushCache="false" useCache="true"/>
    <insert ... flushCache="true"/>
    <update ... flushCache="true"/>
    <delete ... flushCache="true"/>


    -->

    <select id="findAccount" resultType="Account">
        select id, name, money from account where id = #{id}
    </select>

    <insert id="insert" parameterType="Account" useGeneratedKeys="true" keyProperty="id">
        insert into <include refid="aa"/>  (
        name,
        money
        ) values (
        #{name},
        #{money}
        )

    </insert>
</mapper>